body {
    display: flex;
    justify-content: space-around;

}

#display {
    display: flex;
    font-family: "Monaco", monospace;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 30px;
    width: 320px;
    height: 60px;
    background-color: #887880;
    margin: 15px;
    margin-bottom: 10px;
    filter: drop-shadow(4px 4px 3px);
    padding-right: 15px;
}


#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #3c187abf;
    
}

.row {
    display: flex;
    flex-direction: row;
    filter: drop-shadow(2px 2px 1px);
    justify-content: space-between;
}

.button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 20px;
    width: 70px;
    height: 60px;
    margin: 4px;
    text-align: center;
    border-radius: 8px;;
}

.controls {
    background-color: #88A096;
}

.symbols {
    background-color: #BBAB8B;

}

.numbers {
    background-color: #EF8275;
}

#zero {
    flex-grow: 1;
    margin-bottom: 15px;
}